@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair), Georgia, serif;
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-ibm-plex), monospace;
  
  --color-cream-50: #FDFDFB;
  --color-cream-100: #FBF9F6;
  --color-cream-200: #F5EFEB;
  --color-cream-300: #EAE3DC;
  --color-cream-400: #DFD5CB;
  --color-charcoal-100: #E2E1DF;
  --color-charcoal-400: #7A7875;
  --color-charcoal-600: #4B4947;
  --color-charcoal-900: #1A1918;
  --color-sage-100: #EFF1EE;
  --color-sage-200: #E0E4DE;
  --color-sage-500: #6E7A66;
  --color-sage-900: #2D3329;
  --color-gold-500: #C29B5D;
  --color-gold-600: #A88145;
}

:root {
  --background: #FBF9F6;
  --foreground: #1A1918;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.bg-grain {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
